spring:
  datasource:
    url: jdbc:h2:mem:security;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
      format_sql: true

app:
  jwt:
    issuer: "security-jwt-lab"
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARS"
    access-ttl-seconds: 600         # 10m
    refresh-ttl-seconds: 1209600    # 14d

  blacklist:
    store: memory


